<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SafeRoute</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<footer>
    <p>&copy; 2025 SafeRoute - <span th:text="#{footer.copyright}"></span></p>
    <p>
        <a th:href="@{/change-language(lang='pt')}">🇧🇷 <span th:text="#{footer.language.pt}" style="color: white"></span></a> |
        <a th:href="@{/change-language(lang='en')}">🇺🇸 <span th:text="#{footer.language.en}" style="color: white"></span></a>
    </p>
</footer>

</body>
</html>
